﻿@{
    ViewBag.Title = "About Ryoko";
}
<main>
    <section>
        <h3>Want to know more about us?</h3>
        <p>
            Ryoko was implemented by <a href="mailto:davidpsocha@gmail.com">David Socha</a> while under training at <a href="http://www.revature.com">Revature</a>. 
            Ryoko is the Japanese word for travel (with minor spelling tweaks).
        </p>
    </section>
</main>
