﻿@{
    ViewBag.Title = "Ryoko References";
}


<main>
    <section>
        <p>
            <h3>Bootstrap</h3>
            Boostrap is a styling framework that helps standardize rendering across all browsers, as well as useful
            UI features like a collapsable menu. Check them out at <a href="http://getbootstrap.com/">getboostrap.com</a>
        </p>
        <p>
            <h3>D3.js</h3>
            This framework allows for quick and powerful modeling of large amounts of data. Specifically this was used
            inside the My Expenses page. Original D3.js documentation can be found at 
            <a href="https://d3js.org/">d3js.org</a>. The bar chart was inspired by Mike Bostock’s Block
            <a href="http://bl.ocks.org/mbostock/3943967">example</a>. 
        </p>
        <p>
            <h3>Google Analytics</h3>
            <a href="https://analytics.google.com/">Google Analytics</a>&nbsp;is used to track (anonymous) user experience and interactions 
            to better optimize websites and in general any kind of application. This includes page views, button clicks, and more.
        </p>
    </section>
</main>
