﻿@{
    ViewBag.Title = "Add Ryoko Expense";
}
@using Microsoft.AspNet.Identity
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
<script>
    // Functions to only show one detail section at a time. Tries to be elegant about showing and hiding.
    function showCarDetails()
    {
        $('#planeDetails').hide();
        $('#trainDetails').hide();
        $('#carDetails').slideDown();
    }
    function showPlaneDetails()
    {
        $('#carDetails').hide();
        $('#trainDetails').hide();
        $('#planeDetails').slideDown();
    }
    function showTrainDetails()
    {
        $('#carDetails').hide();
        $('#planeDetails').hide();
        $('#trainDetails').slideDown();
    }

    // Dynamically find the form and submit the data through ajax.
    function SubmitDetails(formId)
    {
        var carForm = $("#"+formId).children('form');
        var data = carForm.serialize();
        var posting = $.post(carForm.attr('action'), data);

        posting.done(function (data) {
            if (data == "OK")
            {
                $('.modal-body').text("Your expense was successfully saved!");
                $('#myModal').modal();
                carForm[0].reset();
                prepareIntellisense();
            }
            else
            {
                $('.modal-body').text("Sorry, there was a problem saving your expense. Please try again in a few minutes.");
                $('#myModal').modal();
            }
        });

        posting.error(function (data) {
            console.error(data);
        });
    }

    // The list for the autocomplete mechanism.
    var makeList = [];
    var modelList = [];
    var clientList = [];
    var rentalList = [];
    var flightList = [];
    var trainList = [];

    function prepareIntellisense()
    {
        $.ajax("/api/intel/makemodel")
        .done(function (data) {
            jsonData = JSON.parse(data);
            $.each(jsonData, function (index, value) {
                // Make sure we are not pushing duplicates into the list
                if (makeList.findIndex(function (item) { return item === value.Make; }) < 0) {
                    makeList.push(value.Make);
                }
                if (modelList.findIndex(function (item) { return item === value.Model; }) < 0) {
                    modelList.push(value.Model);
                }

                // Once complete, rebind the autocomplete object.
                if (index == jsonData.length - 1) {
                    $(".make").autocomplete({ source: makeList });
                    $(".model").autocomplete({ source: modelList });
                }
            });
        });

        $.ajax("/api/intel/client")
        .done(function (data) {
            jsonData = JSON.parse(data);
            $.each(jsonData, function (index, value) {
                // Make sure we are not pushing duplicates into the list
                if (clientList.findIndex(function (item) { return item === value.Name; }) < 0) {
                    clientList.push(value.Name);
                }

                // Once complete, rebind the autocomplete object.
                if (index == jsonData.length - 1) {
                    $(".client").autocomplete({ source: clientList });
                }
            });
        });

        $.ajax("/api/intel/rental")
        .done(function (data) {
            jsonData = JSON.parse(data);
            $.each(jsonData, function (index, value) {
                // Make sure we are not pushing duplicates into the list
                if (rentalList.findIndex(function (item) { return item === value.Name; }) < 0) {
                    rentalList.push(value.Name);
                }

                // Once complete, rebind the autocomplete object.
                if (index == jsonData.length - 1) {
                    $(".rentalCompany").autocomplete({ source: rentalList });
                }
            });
        });

        $.ajax("/api/intel/flight")
        .done(function (data) {
            jsonData = JSON.parse(data);
            $.each(jsonData, function (index, value) {
                // Make sure we are not pushing duplicates into the list
                if (flightList.findIndex(function (item) { return item === value.Name; }) < 0) {
                    flightList.push(value.Name);
                }

                // Once complete, rebind the autocomplete object.
                if (index == jsonData.length - 1) {
                    $(".flightCompany").autocomplete({ source: flightList });
                }
            });
        });

        $.ajax("/api/intel/train")
        .done(function (data) {
            jsonData = JSON.parse(data);
            $.each(jsonData, function (index, value) {
                // Make sure we are not pushing duplicates into the list
                if (trainList.findIndex(function (item) { return item === value.Name; }) < 0) {
                    trainList.push(value.Name);
                }

                // Once complete, rebind the autocomplete object.
                if(index == jsonData.length - 1)
                {
                    $(".trainCompany").autocomplete({ source: trainList });
                }
            });
        });
    }

    $(document).ready(function () {
        $('.dateinput').datepicker({ format: "mm-dd-yyyy" });

        $("#carDetails").submit(function (event) {
            event.preventDefault();
            SubmitDetails('carDetails');
        });

        $("#planeDetails").submit(function (event) {
            event.preventDefault();
            SubmitDetails('planeDetails');
        });

        $("#trainDetails").submit(function (event) {
            event.preventDefault();
            SubmitDetails('trainDetails');
            
        });

        $('#gotoMyExpenses').click(function(event) {
            location.href = 'review';
        });

        prepareIntellisense();
    });    
</script>

<main>
    <section>
        <button class="add-exp-button" onclick="showCarDetails()">
            <img src="~/Content/assets/car.png" class="icon" alt="Car" title="Car" />
        </button>
        <button class="add-exp-button" onclick="showPlaneDetails()">
            <img src="~/Content/assets/plane.png" class="icon" alt="Plane" title="Plane" />
        </button>
        <button class="add-exp-button" onclick="showTrainDetails()">
            <img src="~/Content/assets/train.png" class="icon" alt="Train" title="Train" />
        </button>
        <br/><br/>

        <div id="carDetails" style="display: none;">
            <form action="addcar" method="post">
                <input type="hidden" name="UserId" value="@User.Identity.GetUserId()"/>
                <label>Client: <input type="text" class="client" name="Client" required/></label><br />
                <label>Date: <input class="dateinput" type="text" name="Date" required/></label><br />
                <label>Rental Company: <input type="text" class="rentalCompany" name="RentalCompany" required/></label><br />
                <label>Make: <input type="text" name="Make" class="make" required/></label><br />
                <label>Model: <input type="text" name="Model" class="model" required/></label><br />
                <label>Mileage Accrued : <input type="number" name="Mileage" required/></label><br />
                <label>Total Cost: <input type="number" name="Cost" required/></label><br />
                <br />
                <input type="submit" />
            </form>
        </div>

        <div id="planeDetails" style="display: none;">
            <form action="addplane" method="post" class="col-xs-12 col-md-6">
                <input type="hidden" name="UserId" value="@User.Identity.GetUserId()" />
                <label>Client: <input type="text" class="client" name="Client" required/></label><br />
                <label>Date: <input class="dateinput" type="text" name="Date" required/></label><br />
                <label>Flight Company: <input type="text" class="flightCompany" name="FlightCompany" required/></label><br />
                <label><input type="checkbox" name="Coach" value="true"/>&nbsp;Coach?</label><br />
                <label>From City: <input type="text" name="FromCity" required/></label><br />
                <label>To City: <input type="text" name="ToCity" required/></label><br />
                <label>Total Cost: <input type="number" name="Cost" required/></label><br />
                <br />
                <input type="submit" />
            </form>
        </div>

        <div id="trainDetails" style="display: none;">
            <form action="addtrain" method="post">
                <input type="hidden" name="UserId" value="@User.Identity.GetUserId()" />
                <label>Client: <input type="text" class="client" name="Client" required/></label><br />
                <label>Date: <input class="dateinput" type="text" name="Date" required/></label><br />
                <label>Train Company: <input type="text" class="trainCompany" name="TrainCompany" required/></label><br />
                <label>From City: <input type="text" name="FromCity" required/></label><br />
                <label>To City: <input type="text" name="ToCity" required/></label><br />
                <label>Total Cost: <input type="number" name="Cost" required/></label><br />
                <br />
                <input type="submit" />
            </form>
        </div>
    </section>
</main>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Expense Results</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="gotoMyExpenses" type="button" class="btn btn-primary">Go To My Expenses</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>