/************ global styles ***************/
body
{
    font-size: 14px;
}

/************ header styles ***************/
header
{
    background-color: #333333;
    color: #D0D0D0;
}
header h1
{
    margin: 0px;
    padding: 15px 10px 15px 10px;
}
header h4
{
    position: absolute;
    right: 10px;
    top: 15px;
}

/************ navbar styles ***************/
.navbar
{
    margin-bottom: 0px;
    color: #333333;
}

.navbar-default .navbar-brand
{
    color: #333333;
}
.navbar-default .navbar-brand:hover
{
    color: #561420;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu li a,
.navbar-default .navbar-nav .open .dropdown-menu>li>a
{
    color: #333333;
}
.dropdown-menu li a:hover, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover
{
    background-color: #561420;
    color: #FFF;
}

.dropdown-menu .divider
{
    background-color: #333333;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-brand
{
    padding: 5px;
}
.navbar-brand img
{
    height: 100%;
}

/************ content styles ***************/
main
{
    background-image: url('../assets/city.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
}
main section
{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(86, 20,  32, 0.92); /* #561420 with 92% opacity */
    color: #FFF;
    padding: 30px;
}

main h1, main h2, main h3, main h4, main h5
{
    margin-top: 5px;
}

/************ footer styles ***************/
footer
{
    padding: 15px;
}

footer ul
{
    list-style: none;
    padding: 0px;
}

footer ul li a
{
    color: #333333;
    text-decoration: underline;
}
footer ul li a:hover
{
    color: #561420;
}

footer h4
{
    margin-bottom: 0px;
    color: #561420;
}